{% extends "base.html" %}
{% load staticfiles %}
{% block content%}



<div class="ui vertical container">
    <h1 class="ui blue header">床前明月光，</h1>
    <h1 class="ui blue header">疑是地上霜。</h1>
    <h1 class="ui blue header">举头望明月，</h1>
    <h1 class="ui blue header">低头思故乡。</h1>
</div>
{% endblock %}
<!--
        <div class="ui inverted blue vertical very padded segment">
            <div class="ui two column grid">
                <div class="ten wide column">
                    <div class="ui image">
                        <img src="{% static 'images/devices2.png'%}" alt="" />
                    </div>
                </div>
                <div class="six wide column">
                    <h1></h1>
                    <p>

                    </p>
                    <h2 class="ui inverted White header">
                        <i class="icon inverted White vertical  empty star"></i>
                        每天一次，一次2min
                    </h2>
                    据史料记载，查阅各项目进度的时间120分钟，而在作业中心日报，这个数字是21
                </div>
            </div>
        </div>
-->
